.home-cta {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: fit-content;
  padding: 2px 12px;
  border-radius: 16px;
  background-color: var(--white);
  border: 2px solid var(--orange);
  font-weight: 500;
  transition: 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--orange);
  }
}
