:root {
  --orange: #f69c58;
  --black: #212529;
  --white: #fff;
}
#how-it-works-section {
  margin-top: 5rem;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;

  & .section-header {
    width: 100%;
    text-align: center;
    & h2 {
      color: var(--black);
      text-align: center;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & span {
        margin: 10px 0;
        text-align: center;
        justify-self: center;
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background-color: var(--orange);
      }
    }

    & p {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  & .how-it-works-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;

    & .how-it-works-card {
      background-color: var(--orange);
      color: var(--black);
      justify-content: stretch;
      padding: 1rem;
      border-radius: 0.5rem;
      flex: 0 0 280px;

      & h3 {
        font-size: 1.4rem;
      }
    }
  }

  & {
    .how-it-works-cta {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;

      & .hiw-cta {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 160px;
        border-radius: 16px;
        background-color: var(--white);
        border: 2px solid var(--orange);
        font-weight: 500;
        transition: 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 10px var(--orange);
        }
      }
    }
  }
}
