@import "./home.css";
@import "./about.css";
@import "./modalities.css";
@import "./how-it-works.css";
@import "./free-trial-cta.css";
@import "./user-feedback.css";
@import "./footer.css";
@import "./register.css";

body {
  background-color: #fff;
  color: #000;
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
}

.text-orange {
  font-weight: bold;
  color: #ff9900;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

footer {
  margin-top: 5rem;
  font-size: 0.9rem;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  font-size: 0.9rem;
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  width: 100%;
}

.workout-btn,
.exercise-btn {
  grid-column: -1/1 !important;
  margin: auto !important;
  width: 50% !important;
}
